<div class="container">


<h1 class="text-center">Catégories</h1>

<%= link_to 'Ajouter une Catégorie', new_category_path, class: 'btn btn-primary pt-1 pb-1' %>

<table class="table table-hover table-borderless">
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Modifier', edit_category_path(category) %></td>
        <td><%= link_to 'Détruire', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>
